.banner{

    &__container{
        font-size: 16px;
        background: linear-gradient(rgba(0,0,0, .50),rgba(0,0,0, .50)100%), url(../img/house1.webp);
        height: 400px;
        background-size: cover;
        h3{

        }
        p{

        }
    }
} 